* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

li {
  list-style-type: none;
  /* padding: 0 10px; */
}

img {
  object-fit: cover;
}

a {
  text-decoration-line: none;
  font-weight: bolder;
}

table {
  text-align: left;
}

td {
  vertical-align: top;
  padding: 10px 0;
}

td li {
  font-size: 0.70rem;
}

.text_line {
  color: black;
  text-decoration: underline;
}

/* ----- 헤더영역 ----- */
#header_container {
  position: absolute;
  top: 0;
  width: 100%;
  padding-bottom: 80px;
  background-image: linear-gradient(to bottom, black, rgba(255, 255, 255, 0));
  z-index: 100;
}

#header_top {
  width: 980px;
  height: 60px;
  margin: 5px auto;
  padding: 10px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid #A3A3A4;
}

#header_top a{
  color: #A3A3A4;
  font-size: 0.75rem;
}

#header_bot_back_scoll {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

#header_bot {
  width: 980px;
  height: 45px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#header_logo_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header_top_grid01 {
  grid-column: 1/2;
  display: flex;
  justify-content: flex-start;
  align-items: end;
}
#header_top_grid01 > a {
  padding-right: 10px;
}

#header_top_grid02 {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#header_top_grid03 {
  grid-column: 3/4;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  font-size: 0.75rem;
}

#header_top_grid03 > a {
  padding-left: 10px;
}

/* #header_bot_grid01 {
  grid-column: 1/2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.75rem;
} */

#header_bot_grid02 {
  grid-column: 2/4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_menu_btn {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 0.8rem;
}

.header_menu_btn > a {
  padding: 12px 24px;
  color: white;
}

.header_menu_bar::after {
  content: "";
  margin-top: 15px;
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #707070;;
}

#header_bot_grid03 {
  grid-column: 4/5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.75rem;
  color: white;
}

#header_bot_grid03 > a {
  font-size: 0.65rem;
  color: white;
  padding-left: 15px;
}

.header_v_bar::before {
  /* 내용 앞에 수직바 생성 */
  content: "";
  width: 3px;
  height: 10px;
  border-left: 1px solid #C5C5C5;
}

#header_bot_drop {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 0.6;
}

#header_bot_drop_hover {
  width: 100%;
  position: fixed;
  top: 45px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 0.7;
}

.dropBox {
  border: 1px solid black;
  width: 980px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropBox a {
  padding: 0 13px;
  font-size: 0.75rem;
  color: #C5C5C5;
}


/* ----- modal ----- */
#index_modal{
  position: fixed;
  top: 10%;
  left: 50%;
  width: 980px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  background-color: white;
}

#index_modal_esc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: absolute;
  right: -7%;
  top: -5px;
  color: white;
}
#index_modal_esc:hover {
  cursor: pointer;
}

#index_modal_top {
  display: flex;
  justify-content: center;
  align-items: center;
}
#index_modal_bot {
  height: 180px;
  overflow: hidden;
}
#index_modal_left {
  margin: 20px;
}
#index_modal_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
#index_modal_login {
  margin: 10px auto;
  width: 100%;
  text-align: center;
}
#index_modal_login > a {
  color: black;
  display: inline-block;
  width: 250px;
  padding: 5px 30px;
  border: 1px solid black;
  border-radius: 3px;
}
#index_modal_signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0 30px 0;
  width: 256px;
  height: 150px;
  background-color: #F5F5F5;
  border-radius: 5px;
}

#index_modal_signin a {
  color: black;
  display: inline-block;
  width: 100px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 15px;
  margin-top: 15px;
}


/* ----- 바디영역 ----- */

#content {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.index_title > p{
  /* 더보기 위치조정 필요 */
  padding-top: 20px;
  margin: 0;
  font-size: 0.75rem;
}

.gray_underline {
  border-bottom: 1px dashed gray;
}

/* ----- img 슬라이드 ----- */
#content_slide {
  position: relative;
  width: 100%;
  max-width: 1920px; /* 최대 너비 1920px 설정 */
  overflow: hidden;
}
#content_slide::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-image: linear-gradient(to top, black, rgba(255, 255, 255, 0));

}
.content_slides_box {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 400%; /* 슬라이드 개수에 따라 조절 */
  display: flex;
  transition: transform 0.5s ease;
}
.content_slides_box li {
  width: 25%; /* 이미지 너비 33.333% 설정 */
  padding: 0;
}
.content_slides_box li img {
  width: 100%; /* 이미지 너비 100% 설정 */
  height: auto; /* 세로 비율 유지 */
}
.controller {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
}
.controller .prev,
.controller .next {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

/* ----- card slide ----- */
#content_card_slide {
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 50px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_card_slideBox {
  position:relative;
  width:980px;
  height: 330px;
  overflow:hidden
}

#content_cardBox {
  display: flex;
  position:absolute;
  left:0;
  top:0;
  transition: transform 0.5s ease;
}
.card_hover{
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.content_card:hover .card_hover{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.card_btn{
  border-radius: 3px;
  border: 1px solid white;
  color: white;
  padding: 7px 35px;
  margin-bottom: 10px;
}

.content_card {
  margin: 6px;
  position: relative;
  border-radius: 5px;
  min-width: 184px;
  overflow: hidden;
}
.card_num {
  position: absolute;
  color: white;
  top: 70%;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  width: 100%;
  background-image: linear-gradient(to top, black, rgba(255, 255, 255, 0));
}
.card_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}
.card_text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}
.card_body span {
  color: white;
  padding: 0 5px;
  font-weight: bold;
}
.content_card_img {
  width: 184px;
  height: 262px;
  object-fit: cover;
}
.card_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.span_Vbar::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 1px;
  height: 8px;
  background-color: white;
}
.ageAll {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: #229C56;
  border-radius: 3px;
}
.age12 {
  display: flex;  
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: #E9B630;
  color: white;
  border-radius: 3px;
  margin-left: 5px;
}
.age15 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: #DD7430;
  color: white;
  border-radius: 3px;
  margin-left: 5px;
}

.card_inner_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.card_inner_text > a {
  z-index: 100;
  width: 150px;
  height: 30px;
  border-radius: 3px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin:5px;
}

.card_controller {
  height: 100%;
}
.card_prev, .card_next {
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

/* ----- special 영역 ----- */
#index_special {
  width: 980px;
  margin: 0 auto;
  margin-bottom: 25px;
}

#index_special_cardBox {
  width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}


/* ----- event 영역 ----- */
#index_event{
  margin-bottom: 25px;
}
#index_event_cardBox {
  width: 980px;
  margin: 0 auto;
  height: 512px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(2, 1fr); 
}

.index_img_card {
  border-radius: 0.3rem;
  overflow: hidden;
  margin: 5px;
}

#index_event01 {
  grid-column: 1/4; grid-row: 1/2;
}
#index_event02 {
  grid-column: 4/7; grid-row: 1/2;
}
#index_event03 {
  grid-column: 7/12; grid-row: 1/2;
}
#index_event04 {
  grid-column: 12/17; grid-row: 1/3;
}
#index_event05 {
  grid-column: 1/9; grid-row: 2/3;
}
#index_event06 {
  grid-column: 9/12; grid-row: 2/3;
}


/* ----- test screening 영역----- */

#index_ts {
  width: 980px;
  margin: 0 auto;
  margin-bottom: 25px;
}

#index_ts_cardBox {
  width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ----- benefit 영역 ----- */

#index_benefit {
  width: 980px;
  margin: 0 auto;
  margin-bottom: 25px;
}

#index_benefit_cardBox {
  width: 980px;
  margin: 0 auto;
  height: 133px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.index_benefit_card {
  width: 187px;
  height: 100%;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#index_title_notice {
  width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  margin-bottom: 25px;
}

#index_title_notice > p{
  margin: 0;
  font-size: 0.75rem;
}
/* ----- ad 영역 ----- */

#index_ad {
  width: 100%;
}

.index_ad_cardBox {
  width: 980px;
  margin: 50px auto;
  position: relative;
}

#ad_back {
  /* 광고 배경 높이 조절필요 */
  background-color: #F5F2EC;
  position: inherit;
}

/* ----- footer 영역 ----- */

#index_footer {
  width: 980px;
  margin: auto;
  padding-top: 50px;
}

#index_footer > p, li, span {
  font-size: 0.75rem;
}

.footer_v_bar::after {
  /* 내용 뒤에 수직바 생성 */
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  margin-left: 5px;
  background-color: #bababa;
}

#index_footer_cardBox {
  margin: 50px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
}
#index_footer_cardBox > img {
  padding: 20px 5px;

}

#footer_logo_box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #C5C5C5;
}

#index_footer_select {
  width: 180px;
  height: 40px;
  padding-left: 5px;
}

#footer_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

#footer_menu {
  margin-bottom: 10px;
}
