/* Nav Bar 관련 CSS */


.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkgray;
    padding: 8px;
}

body {
    width: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: whitesmoke;
}

a {
    text-decoration: none;
    color: black;
}

.navbar_menu {
    width: fit-content;
    list-style: none;
    display: flex;
    margin: 0;
}

.next_btn:hover {
    background-color: #666;
}

.next_btn {
    position: fixed;
    background-color: gray;
    transform: translateY(180px);
    border-radius: 24px;
    border:none;
    right: 10px;
    width: 120px;
    height: 50px;
    z-index: 10;
    display: none;
}

.navbar_menu div {
    padding: 10px;
}


/* 영화관 메뉴 */

/* 2차 이상의 메뉴를 숨기기 */
.side-bar>ul ul {
    display: none;
}

/* 사이트의 높이를 5000px로 만들어 스크롤 생성 */
body {
    height: 100%;
    background-color: whitesmoke;
}

/* 사이드바의 너비와 높이를 변수를 통해 통제 */
:root {
    --side-bar-width: 120px;
    --side-bar-height: 90vh;
}

.side-bar {
    position: fixed;
    /* 스크롤을 따라오도록 지정 */
    background-color: linen;
    width: var(--side-bar-width);
    min-height: var(--side-bar-height);
    /* 사이드바의 높이를 전체 화면 높이의 90%로 지정 */
    margin-top: calc((100vh - var(--side-bar-height)) / 2);
    /* 사이드바 위와 아래의 마진을 동일하게 지정 */
}

/* 모든 메뉴의 a에 속성값 부여 */
.side-bar ul>li>a {
    display: block;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 0px;
}


/* 자식의 position이 absolute일 때 자식을 영역 안에 가두어 준다 */
.side-bar>ul>li {
    position: relative;
}

/* 모든 메뉴가 마우스 인식 시 반응 */
.side-bar ul>li:hover>a {
    background-color: #eae2ac;
    border-bottom: 1px solid #eae2ac;
}

/* 지역 hover시 2차 지역 display: block */
.side-bar>ul>li:hover>ul {
    display: block;
    position: absolute;
    background-color: #cbcd80;
    top: 0;
    left: 100%;
    width: 200%;
}



