/* Nav Bar 관련 CSS */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    padding: 8px;
  }
  body { 
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  a {
    text-decoration: none;
    color: black;
  }

  .navbar_menu {
    list-style:none;
    display: flex;
    margin: 0;
    padding-left: 0;
  }
  
  .navbar_menu li {
    padding: 10px;
  }

/* Movie List 관련 css */
  .movie-list {
    display: flex;
    flex-direction: column;
  }
  
  .movie-item {
    display: flex;
    margin-bottom: 0px;
  }
  
  /* 사진 넣는 공간 */
  .movie-poster {
    width: 100px;
    height: 150px; 
    background-color: #ccc; 
    margin-right: 20px;
  }
  
  .movie-info {
    margin-top: 5px;
    flex-grow: 1;
  }
  
  .movie-title {
    font-size: 1.2em;
    margin: 0;
  }
  
  .movie-time, .movie-date {
    font-size: 0.9em;
    color: #666;
    margin: 5px 0;
  }
  .movie-detail{
    font-size: 0.7em;
    margin: 5px 0;
  }